[gerrit]
	basePath = /home/gerrit2/projects/foo.git
	canonicalWebUrl = http://idaia.de:8080/
[database]
	type = MYSQL
	hostname = localhost
	database = reviewdb
	username = gerrit2
[auth]
	type = OPENID
[sendemail]
	smtpServer = mail.example.com
	smtpUser = joe.dow@example.de
	includeDiff = true
	maximumDiffSize = 131072
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-6-sun-1.6.0.20/jre
[sshd]
	listenAddress = idaia.de:29418
[httpd]
	listenUrl = http://idaia.de:8080/
[cache]
	directory = cache

[theme]
        backgroundColor = ffffff
        topMenuColor = ffffff
        textColor = 000000
        trimColor = eef3f5
        selectionColor = d1e6ea
        changeTableOutdatedColor = f5cccc
        tableOddRowColor = ffffff
        tableEvenRowColor = f5f5ff

[gitweb]
	revision = "?p=${project}.git;a=commitdiff;h=${commit}"

[commentlink "freedesktop"]
        match = "(BUG|Bug|bug|BUGZILLA|Bugzilla|bugzilla|BZ|Bz|bz|TICKET|Ticket|ticket|ISSUE|fdo|FDO):?#?(\\d+)"
        link = https://bugs.freedesktop.org/show_bug.cgi?id=$2

[commentlink "redhat"]
        match = "(rhbz|RHBZ):?#?(\\d+)"
        link = https://bugzilla.redhat.com/show_bug.cgi?id=$2

[commentlink "novell"]
        match = "(bnc|BNC|n|N):?#?(\\d+)"
        link = https://bugzilla.novell.com/show_bug.cgi?id=$2

[commentlink "apache"]
        match = "(issue|Issue|i):?#?(\\d+)"
        link = https://issues.apache.org/ooo/show_bug.cgi?id=$2

[commentlink "launchpad"]
        match = "(lp|LP):?#?(\\d+)"
        link = https://launchpad.net/bugs/$2


