/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- */
/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* css for the man editor  web page */

.form_area{
    border:1px solid grey;
}
.snip_buttons{
    margin-top:5px;
}
.snip_div{
    display:inline-block;
    width:5em;
}
.snip_heading{
    margin-top:10px;
}

.leftside{
    top: 0%;
    bottom:0%;
    left:0%;
    right:50%;
    position: absolute;
    background: Beige;
    display:block;
    border:1px solid grey;
    overflow: scroll;
}
.rightside{
    top: 0%;
    bottom:0%;
    right:0%;
    left: 50%;
    position:absolute;
    background: AliceBlue;
    overflow: scroll;
    border:1px solid grey;
}

/* Imported from default css for DisplayArea */

#renderedpage {
    background-color: gray;
    margin: 10px;
    line-height: normal;
}

#DisplayArea {
    background-color: white;
    overflow: auto;
    padding: 10px;
    grid-area: main;
}

#renderedpage,
#DisplayArea p,
#DisplayArea h1,
#DisplayArea h2,
#DisplayArea h3,
#DisplayArea h4,
#DisplayArea h5,
#DisplayArea h6,
.listitem,
.listitemintable,
.paragraph,
.tablecontent {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "DejaVu Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif, FreeSerif, NanumGothic, "Noto Sans Tibetan", Taprom;
}
.input {
    background-color: rgba(0,0,0,0.04);
    transition-property: background-color;
    transition-duration: 150ms;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    font-family: Menlo, Consolas, "DejaVu Sans Mono", "Nimbus Mono L", "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}

#DisplayArea  ::selection {
    background: #BFFFB7;
}
#DisplayArea a {
    text-decoration: none;
    color: #0369AE;
}
#DisplayArea a:hover {
    text-decoration: underline;
    color: #1C99E0;
}
#DisplayArea pre,
.code,
.codeintable,
.example,
.exampleintable,
.literal,
.literalintable,
.path,
.pathintable {
    background-color: rgba(0,0,0,0.04);
    border-radius: 2px;
    display: inline;
    padding: 1px 3px;
    font-family: Menlo, Consolas, "DejaVu Sans Mono", "Nimbus Mono L", "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}
.smathcode {
    border-radius: 2px;
    padding: 1px 3px;
    font-family: Menlo, Consolas, "DejaVu Sans Mono", "Nimbus Mono L", "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}

.acronym {
    font-weight: bold;
}
.related {
    font-weight: bold;
    margin-top: 1.67rem;
    border-top: 1px solid black;
}
.emph,
.menuitem {
    font-weight: bold;
}
.keycode {
    /*font-weight: bold;*/
    font-family: Menlo, Consolas, "DejaVu Sans Mono", "Nimbus Mono L", "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}
.widget{
    padding: 1px 10px;
    background: #f0f0f0;
    background: linear-gradient(to bottom,#f0f0f0,#fcfcfc);
    border-radius: 3px;
    color: #303030;
    border: 1px solid #a0a0a0;
    border-bottom-width: 2px;
    white-space: nowrap;
}
/* div's for warning, tip and note */
.note,
.tip,
.warning {
    display:flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
    padding: 0.2em;
    margin-top: 15px;
}
.note {
    border-left: 4px solid #FFDE09;
    background-color: #FFF4D0;
}
.tip {
    border-left: 4px solid #38618C;
    background-color: #DAE2EA;
}
.warning {
    border-left: 4px solid #FF5964;
    background-color: #FFE0E2;
}
.noteicon {
    padding:0.3em;
    transition: transform .2s; /* Animation */
}
.noteicon:hover {
    transform: scale(2.0); /* (200% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.notetext {
    padding:0.3em;
}
#DisplayArea h1,
#DisplayArea h2,
#DisplayArea h3,
#DisplayArea h4,
#DisplayArea h5,
#DisplayArea h6 {
    margin-bottom: 0.67rem;
    color: #148603;
}

#DisplayArea p,
#DisplayArea ol,
#DisplayArea td {
    font-size: 1.17rem;
    margin: 2px 2px 2px 2px;
}
#DisplayArea p {
    margin-bottom: 10px;
}

#DisplayArea h1 {
    font-size: 1.83rem;
    font-weight: 300;
    border-bottom: 2px solid #148603;
    padding-bottom: 6px;
}
#DisplayArea h1 a {
    text-decoration: none;
}
#DisplayArea h2 {
    font-size: 1.55rem;
}
#DisplayArea h3 {
    font-size: 1.33rem;
}
#DisplayArea h4,
#DisplayArea h5,
#DisplayArea h6 {
    font-size: 1.17rem;
}
.avis {
    /*    background-color: #EEEEEE;*/
}
.relatedtopics {
    font-weight: normal;
}
.relatedbody {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}
.howtoget {
    background: #CCF4C6;
    border-left: 4px solid #148603;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
    padding: 0.3em;
    display: flex;
    flex-direction: column;
}
.howtogetheader {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
    display: inline-block;
    font-weight: bold;
    padding: 0.3em;
}
.howtogetbody {
}
.samplefilesection{
}
.wide {
    width: 100%;
}
.onecell{
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px 0px;
    border-bottom: 1px solid #E8E8E8;
}
/* Special case of icon table*/
icontable {
    display:flex;
    align-items:center;
}
.iconcell {
    padding:0.3em;
}
.imageicon {
    transition: transform .2s; /* Animation */
}
.imageicon:hover{
    transform: scale(2.0); /* (200% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#DisplayArea table {
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px 0px;
    border-collapse: collapse;
    background: #fefefe;
}
#DisplayArea table,
#DisplayArea th,
#DisplayArea td {
    border-top: 0;
    border-bottom: 1px solid #E8E8E8;
    border-left: 0;
    border-right: 0;
    padding: 0.3em;
}
.tablehead,
.tableheadintable {
    font-weight: bold;
    margin-top: 0px;
}
.tableheadcell {
    background: #148603;
    color: white;
    vertical-align:top;
}
#DisplayArea footer {
    border-top: 2px solid #148603;
    padding: 15px 10px 0 10px;
    margin: 40px 0;
}
#DisplayArea footer p {
    font-size: 0.98rem;
}
.embedded {
    background-color: #eeeeee;
    border:solid 1px black;
}
.bug {
    color: red;
}
.debugembed {
    color: magenta;
}
.debug {
    border: 1px solid black;
    padding: 3px;
    display: block;
    background-color: #222;
    color: red;
    text-align: left;
}
.donation {
    padding: 0 0 10px 0;
    margin-bottom: 1em;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
}
.donation p{
    font-size:1.2rem;
}
.bascode {
    margin-top:15px;
    margin-bottom: 15px;
}
.screenshot, .genericimage {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-style:none;
    display:block;
    box-shadow: 10px 10px 5px grey;
}
