/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- */
/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* css for the main editor  web page */

.form_area{
    border:1px solid grey;
    height: auto;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.buttonrow{
    margin-top:5px;
    margin-left:10px;
}

/* CSS for the menu (W3Schools) */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #148603;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, .dropdown-content input {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content input{
    
}

.dropdown-content a:hover, .dropdown-content input:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#leftside{
    top: 0px;
    bottom:0px;
    left:0px;
    right:50%;
    position: absolute;
    background: Beige;
    border:1px solid grey;
}
#editorpageheader{
    top: 0px;
    left: 0px;
    right: 0px;
    position:absolute;
    margin: 0px 5px 5px 5px;
    z-index:100;
}
#editortextarea{
    margin: 5px 5px 5px 5px;
    left:0px;
    right: 0px;
    bottom:0px;
    top:170px;
    position:absolute;
}
#rightside{
    top: 0px;
    bottom:0px;
    right:0px;
    left: 50%;
    position:absolute;
    background: AliceBlue;
    border:1px solid grey;
    overflow:hidden;
}
.systembuttons{
    float:left;
}
.applbuttons{
    float:right;
}
#renderedpageheader{
    top: 0px;
    right:0px;
    left: 0px;
    position:absolute;
    margin: 5px 5px 5px 5px;
    background: AliceBlue;
}
#renderedpage {
    margin: 5px 5px 5px 5px;
    right:0px;
    left: 0px;
    top:120px;
    bottom:0px;
    position:absolute;
    overflow-y:auto;
}
