*.o
Makefile
Makefile.in
.deps
build.sh
make
stamp-h1
config.h
config.log
config.status
config/Makefile
config/Makefile.in
po/Makefile
po/Makefile.in
po/POTFILES
doc/Makefile
doc/Makefile.in
glob/.deps
glob/Makefile.in

