<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>BASEURL=`readlink -f ${WORKSPACE}/../../repo-mirror/workspace/`
[ -d ${WORKSPACE}/.git ] || git clone ${BASEURL}/core.git ${WORKSPACE}
git pull
./autogen.sh --disable-mozilla --disable-binfilter --with-junit=${JENKINS_HOME}/junit-4.9b2.jar --with-num-cpus=4 --with-max-jobs=4
cat ${JENKINS_HOME}/set_tarfile_location.sh &gt;&gt; Env.Host.sh
echo &apos;export CC=&quot;ccache gcc&quot;&apos; &gt;&gt; Env.Host.sh
echo &apos;export CXX=&quot;ccache g++&quot;&apos; &gt;&gt; Env.Host.sh
echo &quot;export CCACHE_BASEDIR=\&quot;${WORKSPACE}\&quot;&quot; &gt;&gt; Env.Host.sh
./download
./g stash save
./g pull -r
./g -f stash pop
./g branch -v
#./g --set-push-user YOURUSERNAMEHERE
. $WORKSPACE/Env.Host.sh &amp;&amp; make
. $WORKSPACE/Env.Host.sh &amp;&amp; make dev-install
. $WORKSPACE/Env.Host.sh &amp;&amp; make subsequentcheck -j5 -k -f $WORKSPACE/GNUmakefile.mk
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
