# Configuration file for checkreg.sh regression checking script.
# outDir works with or without a trailing slash.
# Note: on Windows, with versions older than 6.3, you cannot use
# a drive root like c:/ as the outdir. This is a bug in LibreOffice.

declare -A versions

# Windows cygwin example, note the forward slashes in outDir:
#versions[330]="$(cygpath -u "C:\libo33\program\soffice.exe")"
#versions[bibi43]="$(cygpath -u "Z:\bibisect-win32-4.3\instdir\program\soffice.exe")"
#versions[master]="$(cygpath -u "C:\Program Files\LibreOfficeDev 6\program\soffice.exe")"
#outDir="c:/users/test/downloads/outdir"

# Linux example:
#versions[master]="/home/test/libreoffice/instdir/program/soffice"
#outDir="/home/test/libobugs/outdir"
